# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_nmortho48_LEFT
	def_bool $(shields_list_contains,nmortho48_left)

config SHIELD_nmortho48_RIGHT
	def_bool $(shields_list_contains,nmortho48_right)

config SHIELD_nmortho48_DONGLE
	def_bool $(shields_list_contains,nmortho48_dongle)
